.contact{
    padding-bottom: 4rem;
}
.contact__container{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    column-gap: 6rem;
    padding-bottom: 2.5rem;
}

.contact__info{
    display: grid;
    row-gap: 2rem;
    grid-template-columns: 300px;
}

.contact__form{
    width: 360px;
}

.contact__title{
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.contact__card{
    background-color: hsl(0, 0%, 97%) !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.8rem;
    border-radius: 1.2rem;
}

.contact__card-icon{
    font-size: 1.5rem;
    color: var(--text-dark);
    margin-bottom: 0.25rem;
}

.contact__card-title{
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--text-dark);
}

.contact__card-data {
    font-size: 0.7rem;
}

.contact__card-data{
    display: block;
    margin-bottom: 0.75rem;
}

.contactImg {
    width: 200px;
    border-radius: 1.2rem;
}

.contact__button{
    color: var(--text-dark);
    font-size: 0.7rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.25rem;
}

.contact__button:hover {
    color: #000 !important;
    font-weight: 600;
}


.contact__button-icon{
    font-size: 1rem;
    transition: .3s;
}


.contact__form-div{
    position: relative;
    margin-bottom: 2rem;
    height: 4rem;
}

.contact__form-input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: var(--border);
    background: none;
    outline: none;
    border-radius: 0.75rem;
    padding: 1.5rem;
    z-index: 1;
}

.contact__form-label{
    position: absolute;
    top: -0.75rem;
    left: 1.25rem;
    padding: 0.25rem;
    background-color: var(--background-color);
    z-index: 10;
    font-size: 0.813rem;
    color: var(--text);
}

.contact__form-textarea{
    height: 11rem;
}

.contact__form-textarea textarea{
    resize: none;
}

.send__button {
    color: var(--text);
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid var(--text-color);
    background: var(--background-color);
    box-shadow: 3px 3px var(--text-color);
    cursor: pointer;
    margin: .4rem 0;
}

.send__button:active {
    box-shadow: none;
    transform: translate(3px, 3px);
}


@media screen and (max-width: 992px) {
    .contact__container{
        column-gap: 3rem;
        padding-bottom: 0;
    }
}

@media screen and (max-width: 768px) {
    .contact__container{
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }
    .contact__info {
        justify-content: center;
    }
    .contact__form {
        margin: 0 auto;
    }
}

@media screen and (max-width: 576px) {
    .contact__info {
        grid-template-columns: 280px;
        row-gap: 2.5rem;
    }
    .contact__form {
        margin: 0 auto;
        padding: 0 2rem;
    }
}

@media screen and (max-width: 350px) {
    .contact__info {
        grid-template-columns: 1fr;
    }
    .contact__form {
        margin: 0 auto;
        padding: 0 4rem;
    }
    .contact__card{
        margin: 0 4rem;
    }
    .contact__form-input{
        height: 100%;
        padding: 1rem;
    }
    ::placeholder{
        font-size: 0.8rem;
    }
}