footer{
    background-color: #272727;
    padding: 2% 2% 1% 2%;
}

.nav__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav__items li{
    padding: .5rem 1rem;
}

.nav__items li a, .social a{
    color: hsl(0, 0%, 86%) !important;
}

.nav__items li a:hover, .social a:hover {
    color: hsl(0, 0%, 97%) !important;
}

.social{
    margin: 0 auto;
    display: flex;
    gap: 3rem;
}

@media screen and (max-width: 350px) {
    footer{
        padding: 2% 1% 2% 1%;
    }
    .nav__items li{
        padding: .3rem .8rem;
    }
}