@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:wght@400;500;600&family=Raleway:wght@400;500;600&display=swap');

/* Colors when theme is Light-Theme */
.light-theme {
    --text-color: hsl(0, 0%, 30%);
    --background-color: hsl(0, 0%, 98%);
    --section-title: hsl(0, 0%, 20%);
    --dark-color: hsl(0, 0%, 0%);
    --glass-effect: #f9f9f9dd;
    --button-text-color: #fff;
    --button-bg-color: hsl(0, 0%, 30%);
    --text : hsl(0, 0%, 30%);
    --text-dark: --text;
    --xx: #fafafa;
    --xx-doot: #000000;
    --box-shadow : 0 -1px 4px rgba(0, 0, 0, 0.15);
    --border: 2px solid rgba(0, 0, 0, 0.3);
    --background : rgba(0, 0, 0, 0.9);
}

/* Colors when theme is Dark-Theme */
.dark-theme{
    --text-color : hsl(0, 0%, 96%);
    --background-color : hsl(0, 0%, 30%);
    --section-title : #fff !important;
    --dark-color : hsl(0, 0%, 97%);
    --button-text-color: hsl(0, 0%, 30%);
    --button-bg-color: hsl(0, 0%, 92%);
    --text: hsl(0, 0%, 88%);
    --text-dark: hsl(0, 0%, 50%);
    --xx: hsl(0, 0%, 30%);
    --xx-doot: #fafafa;
    --glass-effect : hsl(0, 0%, 31%);
    --box-shadow: 0 -1px 4px rgba(255, 255, 255, 0.08);
    --border: 2px solid rgba(255, 255, 255, 0.1);
    --background: rgba(0, 0, 0, 0.5);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif !important;
    font-weight: 500;
    font-size: 1rem;
    scroll-behavior: smooth;
}


html {
    scroll-behavior: smooth;
}

body{
    background-color: var(--background-color);
    color: hsl(0, 0%, 46%);
}

/* Pseudo CSS */
::selection{
    background-color: hsl(0, 0%, 40%);
    color: hsl(0, 0%, 97%);
}

::placeholder{
    color: var(--text);
}

::-webkit-scrollbar-track {
    background-color: var(--xx);
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: var(--text);
}

/* heading CSS */
div {
    justify-content: center;
}
h1, h2, h3{
    color:var(--text-color);
    font-size: 1.25rem;
}

h2{
    margin-bottom: 0.3rem;
}


ul{
    list-style: none;
}

a{
    text-decoration: none !important;
    color: var(--text);
    transition: .4s;
}

a:hover{
    color: var(--dark-color) !important
}

/* Button CSS */
button {
    cursor: pointer;
    bottom: none;
    outline: none;
}

.button--flex {
    display: inline-flex;
    align-items: center;
}

.button {
    display: inline-block;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    padding: 1.25rem 2rem;
    border-radius: 1rem;
    font-weight: 500;
}

.button:hover {
    background-color: var(--dark-color);
    color: var(--button-text-color) !important;
}

.button__icon {
    vertical-align: middle;
    animation: button-icon 2s ease infinite;
}


img{
    max-width: 100%;
    height: auto;
}

/* Section CSS */
section {
    padding: 6rem 0 4rem;
}

.section__title {
    font-size: 1.7rem;
    color: var(--section-title);
}

.section__subtitle {
    display: block;
    font-size: 0.875rem;
    margin-bottom: 4rem;
}

.container {
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
}

/* Particles CSS */
#tsparticles{
    z-index: -1000;
    position: absolute;
    left: 0 !important;
    top: 0 !important;
    margin: 0;
    padding: 0;
    width: 100% !important;
    height: 87vh !important;
    background-color: var(--xx) !important;
}

.loading {
    position: fixed;
    inset: 0;
    z-index: 10000;
    background: hsl(0, 0%, 98%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.loading.fade-out {
    top: -120%;
    transition: all 1.5s ease-in-out;
}


/* Scroll Bar CSS */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--text);
}

input{
    color: var(--text) !important;
}

/* Media Queries and Animation Keyframes */

@keyframes button-icon {
    0% {
        transform: translateY(0);
    }

    30% {
        transform: translateX(.4rem);
    }
}

@media screen and (max-width: 768px) {
    .section {
        padding: 4rem 0 4rem;
    }
}

@media screen and (max-width: 370px) {
    .section {
        padding: 6rem 0 4rem !important;
    }
}

@media screen and (max-width: 576px) {
    .section {
            padding: 5.5rem 0 4rem !important;
        }
}